In [40]:
import pandas as pd
import numpy as np
import datetime
from nba_api.stats.endpoints import PlayByPlayV2, TeamGameLogs, ShotChartDetail,\
                                    PlayerGameLogs, GameRotation
from nba_api.stats.static import players

curr_season = '2021-22'
curr_date = ''

In [6]:
# gets current season's game IDs
gamelogs = TeamGameLogs(
    season_nullable=curr_season
).get_data_frames()[0]

In [10]:
gamelogs

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,2021-22,1610612743,DEN,Denver Nuggets,0022100528,2022-03-07T00:00:00,DEN vs. GSW,W,48.0,46,...,1318,3,127,667,686,1,1728,12,93,615
1,2021-22,1610612758,SAC,Sacramento Kings,0022100974,2022-03-07T00:00:00,SAC vs. NYK,L,48.0,39,...,1425,1071,532,1714,1637,1262,303,3,608,1689
2,2021-22,1610612759,SAS,San Antonio Spurs,0022100973,2022-03-07T00:00:00,SAS vs. LAL,W,48.0,46,...,628,380,1614,1225,257,311,586,85,504,615
3,2021-22,1610612741,CHI,Chicago Bulls,0022100969,2022-03-07T00:00:00,CHI @ PHI,L,48.0,39,...,537,1227,724,1507,1003,945,1620,964,1155,1641
4,2021-22,1610612744,GSW,Golden State Warriors,0022100528,2022-03-07T00:00:00,GSW @ DEN,L,48.0,45,...,1318,288,947,1507,1917,945,1927,136,218,1286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1941,2021-22,1610612754,IND,Indiana Pacers,0022100003,2021-10-20T00:00:00,IND @ CHA,L,48.0,42,...,292,288,1481,1906,33,945,1620,600,299,974
1942,2021-22,1610612744,GSW,Golden State Warriors,0022100002,2021-10-19T00:00:00,GSW @ LAL,W,48.0,41,...,360,214,1481,471,1637,623,586,136,329,615
1943,2021-22,1610612747,LAL,Los Angeles Lakers,0022100002,2021-10-19T00:00:00,LAL vs. GSW,L,48.0,45,...,854,1378,1614,947,1003,128,1728,1170,671,1286
1944,2021-22,1610612749,MIL,Milwaukee Bucks,0022100001,2021-10-19T00:00:00,MIL vs. BKN,W,48.0,48,...,137,757,66,667,69,1812,778,1362,150,115
1945,2021-22,1610612751,BKN,Brooklyn Nets,0022100001,2021-10-19T00:00:00,BKN @ MIL,L,48.0,37,...,967,1631,724,1844,69,1812,443,964,1270,1821

In [12]:
gamelogs.dtypes

SEASON_YEAR           object
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_NAME             object
GAME_ID               object
GAME_DATE             object
MATCHUP               object
WL                    object
MIN                  float64
FGM                    int64
FGA                    int64
FG_PCT               float64
FG3M                   int64
FG3A                   int64
FG3_PCT              float64
FTM                    int64
FTA                    int64
FT_PCT               float64
OREB                   int64
DREB                   int64
REB                    int64
AST                    int64
TOV                  float64
STL                    int64
BLK                    int64
BLKA                   int64
PF                     int64
PFD                    int64
PTS                    int64
PLUS_MINUS           float64
GP_RANK                int64
W_RANK                 int64
L_RANK                 int64
W_PCT_RANK             int64
MIN_RANK               int64
FGM_RANK               int64
FGA_RANK               int64
FG_PCT_RANK            int64
FG3M_RANK              int64
FG3A_RANK              int64
FG3_PCT_RANK           int64
FTM_RANK               int64
FTA_RANK               int64
FT_PCT_RANK            int64
OREB_RANK              int64
DREB_RANK              int64
REB_RANK               int64
AST_RANK               int64
TOV_RANK               int64
STL_RANK               int64
BLK_RANK               int64
BLKA_RANK              int64
PF_RANK                int64
PFD_RANK               int64
PTS_RANK               int64
PLUS_MINUS_RANK        int64
dtype: object

In [14]:
convert_dtypes = {
    'MIN': np.int64,
    'TOV': np.int64
}

gamelogs = gamelogs.astype(convert_dtypes)

In [18]:
utah_games = gamelogs[gamelogs['TEAM_ABBREVIATION'] == 'UTA']

In [19]:
utah_games.head()

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
8,2021-22,1610612762,UTA,Utah Jazz,0022100972,2022-03-07T00:00:00,UTA @ DAL,L,48,36,...,854,1227,947,1507,437,945,984,600,1342,1333
27,2021-22,1610612762,UTA,Utah Jazz,0022100965,2022-03-06T00:00:00,UTA @ OKC,W,48,40,...,537,496,371,1714,1003,1812,1164,964,550,337
47,2021-22,1610612762,UTA,Utah Jazz,0022100950,2022-03-04T00:00:00,UTA @ NOP,L,48,31,...,228,1903,1853,947,1637,945,106,328,1829,1921
80,2021-22,1610612762,UTA,Utah Jazz,0022100935,2022-03-02T00:00:00,UTA @ HOU,W,53,50,...,441,117,1731,100,1637,311,1620,136,78,728
129,2021-22,1610612762,UTA,Utah Jazz,0022100913,2022-02-27T00:00:00,UTA @ PHX,W,48,44,...,1318,1071,230,947,437,945,303,964,454,782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,2021-22,1610612762,UTA,Utah Jazz,0022100083,2021-10-30T00:00:00,UTA @ CHI,L,48,35,...,137,1903,1806,1507,257,945,1164,964,1525,1333
1814,2021-22,1610612762,UTA,Utah Jazz,0022100068,2021-10-28T00:00:00,UTA @ HOU,W,48,41,...,46,904,1806,667,1003,311,1498,220,299,40
1845,2021-22,1610612762,UTA,Utah Jazz,0022100054,2021-10-26T00:00:00,UTA vs. DEN,W,48,44,...,1318,1510,947,1507,437,311,1348,328,299,378
1901,2021-22,1610612762,UTA,Utah Jazz,0022100026,2021-10-22T00:00:00,UTA @ SAC,W,48,37,...,292,1863,1731,29,1325,945,443,450,913,509
1935,2021-22,1610612762,UTA,Utah Jazz,0022100011,2021-10-20T00:00:00,UTA vs. OKC,W,48,40,...,180,1729,230,1225,686,128,778,1645,1096,138

In [20]:
# parse matchups
# get all game IDs

utah_game_ids = list(utah_games['GAME_ID'])
utah_game_ids[:5]

['0022100972',
 '0022100965',
 '0022100950',
 '0022100935',
 '0022100913',
 '0022100903',
 '0022100884',
 '0022100865',
 '0022100844',
 '0022100828']

In [29]:
# gobert player ID
gobert_id = players.find_players_by_last_name('gobert')[0]['id']
gobert_games = PlayerGameLogs(
    player_id_nullable=gobert_id,
    season_nullable=curr_season
).get_data_frames()[0]

gobert_games.sample(5)

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,...,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,VIDEO_AVAILABLE_FLAG
5,2021-22,203497,Rudy Gobert,Rudy,1610612762,UTA,Utah Jazz,0022100903,2022-02-25T00:00:00,UTA vs. DAL,...,12,1,23,28,29,38,23,1,1,1
21,2021-22,203497,Rudy Gobert,Rudy,1610612762,UTA,Utah Jazz,0022100447,2021-12-18T00:00:00,UTA vs. WAS,...,1,1,35,28,40,36,13,1,1,1
30,2021-22,203497,Rudy Gobert,Rudy,1610612762,UTA,Utah Jazz,0022100299,2021-11-27T00:00:00,UTA vs. NOP,...,20,25,6,38,48,7,49,42,1,1
32,2021-22,203497,Rudy Gobert,Rudy,1610612762,UTA,Utah Jazz,0022100276,2021-11-24T00:00:00,UTA @ OKC,...,2,43,1,28,27,16,4,1,1,1
49,2021-22,203497,Rudy Gobert,Rudy,1610612762,UTA,Utah Jazz,0022100011,2021-10-20T00:00:00,UTA vs. OKC,...,33,1,6,28,22,7,26,1,1,1

In [37]:
gobert_team = gobert_games['TEAM_ID'].iloc[0]
gobert_team

1610612762

In [33]:
gobert_game_ids = list(gobert_games['GAME_ID'].unique())
gobert_game_ids[:5]

['0022100972', '0022100965', '0022100950', '0022100935', '0022100913']

In [ ]:
# get play by play
# find all games where rudy gobert played
# mark games where rudy gobert registers a block before subbing out
# calculate opponent shot distances

In [39]:
# get test game
test_game = ShotChartDetail(
    game_id_nullable=gobert_game_ids[3],
    team_id=gobert_team,
    player_id=gobert_id
).get_data_frames()[0]

test_game.head(n=8)

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0022100935,33,203497,Rudy Gobert,1610612762,Utah Jazz,1,9,13,...,Center(C),Less Than 8 ft.,1,11,16,1,1,20220302,HOU,UTA
1,Shot Chart Detail,0022100935,40,203497,Rudy Gobert,1610612762,Utah Jazz,1,8,5,...,Center(C),Less Than 8 ft.,1,-1,11,1,1,20220302,HOU,UTA
2,Shot Chart Detail,0022100935,45,203497,Rudy Gobert,1610612762,Utah Jazz,1,7,33,...,Center(C),Less Than 8 ft.,1,11,11,1,1,20220302,HOU,UTA
3,Shot Chart Detail,0022100935,124,203497,Rudy Gobert,1610612762,Utah Jazz,1,2,56,...,Center(C),Less Than 8 ft.,1,-5,16,1,1,20220302,HOU,UTA
4,Shot Chart Detail,0022100935,175,203497,Rudy Gobert,1610612762,Utah Jazz,2,10,54,...,Center(C),Less Than 8 ft.,2,12,16,1,1,20220302,HOU,UTA
5,Shot Chart Detail,0022100935,313,203497,Rudy Gobert,1610612762,Utah Jazz,2,0,32,...,Center(C),Less Than 8 ft.,1,13,10,1,1,20220302,HOU,UTA
6,Shot Chart Detail,0022100935,344,203497,Rudy Gobert,1610612762,Utah Jazz,3,11,25,...,Center(C),Less Than 8 ft.,0,0,-1,1,1,20220302,HOU,UTA
7,Shot Chart Detail,0022100935,357,203497,Rudy Gobert,1610612762,Utah Jazz,3,9,34,...,Center(C),Less Than 8 ft.,1,-11,10,1,1,20220302,HOU,UTA

Player and team IDs are both required. This might mean I need to query the teams and players of every opponent when Gobert is in.

In [44]:
# Testing game rotation to see if Gobert is in the game
test_rotations = (GameRotation(game_id=gobert_game_ids[3], league_id='00')
                  .get_data_frames()[0]
                  )

test_rotations

,GAME_ID,TEAM_ID,TEAM_CITY,TEAM_NAME,PERSON_ID,PLAYER_FIRST,PLAYER_LAST,IN_TIME_REAL,OUT_TIME_REAL,PLAYER_PTS,PT_DIFF,USG_PCT
0,0022100935,1610612762,Utah,Jazz,200752,Rudy,Gay,5280.0,9600.0,2,-7.0,0.333
1,0022100935,1610612762,Utah,Jazz,200752,Rudy,Gay,21034.0,24370.0,1,2.0,0.133
2,0022100935,1610612762,Utah,Jazz,201144,Mike,Conley,0.0,2920.0,0,2.0,0.000
3,0022100935,1610612762,Utah,Jazz,201144,Mike,Conley,5280.0,8610.0,0,-3.0,0.214
4,0022100935,1610612762,Utah,Jazz,201144,Mike,Conley,13080.0,17530.0,2,-6.0,0.158
5,0022100935,1610612762,Utah,Jazz,201144,Mike,Conley,20440.0,24370.0,1,4.0,0.118
6,0022100935,1610612762,Utah,Jazz,201144,Mike,Conley,26060.0,31800.0,12,-1.0,0.273
7,0022100935,1610612762,Utah,Jazz,202355,Hassan,Whiteside,3060.0,5280.0,0,1.0,0.250
8,0022100935,1610612762,Utah,Jazz,202355,Hassan,Whiteside,9600.0,13080.0,2,19.0,0.077
9,0022100935,1610612762,Utah,Jazz,202355,Hassan,Whiteside,17530.0,18320.0,0,0.0,0.000
10,0022100935,1610612762,Utah,Jazz,202355,Hassan,Whiteside,23300.0,25770.0,2,-3.0,0.111
11,0022100935,1610612762,Utah,Jazz,202711,Bojan,Bogdanovic,0.0,4890.0,2,7.0,0.263
12,0022100935,1610612762,Utah,Jazz,202711,Bojan,Bogdanovic,9600.0,19000.0,16,10.0,0.243
13,0022100935,1610612762,Utah,Jazz,202711,Bojan,Bogdanovic,24370.0,28717.0,0,-9.0,0.118
14,0022100935,1610612762,Utah,Jazz,202711,Bojan,Bogdanovic,28800.0,31800.0,0,5.0,0.000
15,0022100935,1610612762,Utah,Jazz,203497,Rudy,Gobert,0.0,3060.0,6,5.0,0.333
16,0022100935,1610612762,Utah,Jazz,203497,Rudy,Gobert,5280.0,9600.0,4,-7.0,0.111
17,0022100935,1610612762,Utah,Jazz,203497,Rudy,Gobert,13080.0,17530.0,10,-6.0,0.316
18,0022100935,1610612762,Utah,Jazz,203497,Rudy,Gobert,18320.0,23300.0,4,0.0,0.143
19,0022100935,1610612762,Utah,Jazz,203497,Rudy,Gobert,25770.0,31800.0,3,-4.0,0.130
20,0022100935,1610612762,Utah,Jazz,203903,Jordan,Clarkson,4890.0,13080.0,7,11.0,0.129
21,0022100935,1610612762,Utah,Jazz,203903,Jordan,Clarkson,19000.0,26060.0,7,-3.0,0.357
22,0022100935,1610612762,Utah,Jazz,1626220,Royce,O'Neale,0.0,4890.0,0,7.0,0.053
23,0022100935,1610612762,Utah,Jazz,1626220,Royce,O'Neale,9600.0,19000.0,7,10.0,0.108
24,0022100935,1610612762,Utah,Jazz,1626220,Royce,O'Neale,24370.0,31800.0,2,-7.0,0.034
25,0022100935,1610612762,Utah,Jazz,1627863,Danuel,House Jr.,4890.0,9600.0,2,-8.0,0.105
26,0022100935,1610612762,Utah,Jazz,1627863,Danuel,House Jr.,19000.0,24370.0,3,3.0,0.045
27,0022100935,1610612762,Utah,Jazz,1627863,Danuel,House Jr.,28717.0,28800.0,0,-3.0,0.000
28,0022100935,1610612762,Utah,Jazz,1628378,Donovan,Mitchell,0.0,5280.0,13,6.0,0.400
29,0022100935,1610612762,Utah,Jazz,1628378,Donovan,Mitchell,9600.0,21034.0,15,11.0,0.311
30,0022100935,1610612762,Utah,Jazz,1628378,Donovan,Mitchell,24370.0,31800.0,9,-7.0,0.517
31,0022100935,1610612762,Utah,Jazz,1630235,Trent,Forrest,2920.0,5280.0,0,4.0,0.000
32,0022100935,1610612762,Utah,Jazz,1630235,Trent,Forrest,8610.0,9600.0,0,-4.0,0.000
33,0022100935,1610612762,Utah,Jazz,1630235,Trent,Forrest,17530.0,20440.0,0,-4.0,0.000